%% Set dir where external (downloaded) applications are put
{deps_dir, ["deps"]}.

%% External dependencies
{deps, [
        %% Webserver - used for include file
        %% Uncomment for testing
        {elli, ".*",
        {git, "https://github.com/knutin/elli.git",
        {tag, "38d9061d8f8e12c3412aa4bbf738ca3f6d81899a"}}},
        %% Parse facebook signed requests
        {fb_signed_request, ".*",
        {git, "https://github.com/wooga/fb_signed_request.git",
        {branch, "master"}}},
        %% Encode/decode JSON
        {jiffy, "",
        {git, "https://github.com/davisp/jiffy.git",
        {branch, "master"}}},
        %% Worker pool manager
        {poolboy, "0.8.1",
        {git, "git://github.com/basho/poolboy.git",
        {branch, "master"}}},
        {lhttpc, "1.3.0",
        %% HTTP client
        {git, "git://github.com/oscarh/lhttpc.git",
        {branch, "master"}}},
        %% Search jiffy json
        {jsonpath, "1",
        {git, "git@github.com:GeneStevens/jsonpath.git",
        {branch, "master"}}}
]}.

{erl_opts, [warnings_as_errors,
            {todo, true}]}.

